
<div class="page-breadcrumb" style="text-align: center">
    <div class="row">
        <div class="col-12"  >
            <h2 class='f2 mt4 bb-title relative' >
                PLATEFORME ILIADE
            </h2>
            <p >Découvrez nos plateformes, portails vers l'univers digital d'Iliade. <br>Des outils puissants pour une expérience en ligne fluide et productive.</p>
        </div>
    </div>

<div class="row justify-content-center" style="padding: 8%;margin-top: -7%;">
    <div class="col-lg-2 col-md-2 col-sm-4">
        <a href="https://www.iliadeconsulting.com/" style="text-decoration: none;">
            <div class="card"style="background-color: #F07317;">
                <img class="card-img-top img-responsive" src="../../assets/images/unnamed (1).png" style="  justify-content: center;" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"style="color:white;" >Plateforme Iliade</h4>
                    <!-- <p class="card-text">Plateforme Iliade</p> -->
                 
                </div>
            </div>
        </a>
    </div>

    
    <div class="col-lg-2 col-md-2 col-sm-4">
        <a href="https://blog.iliadeconsulting.com/" style="text-decoration: none;">
                <div class="card"style="background-color:white;" >
                    <img class="card-img-top img-responsive" src="../../assets/images/unnamed (5).png" alt="Card image cap">
                    <div class="card-body">
                    <h4 class="card-title" style="color: orangered;">Iliade U <br><br></h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-4">
        <a href="https://drive.google.com/drive/u/0/home" style="text-decoration: none;">
            <div class="card"style="background-color: #F07317;">
                <img class="card-img-top img-responsive" src="../../assets/images/unnamed.png" alt="">
                <div class="card-body ">
                    <h4 class="card-title" style="color:white">Drive<br><br></h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-4">
        <a href="https://iliade.my-digital-academy.com/learn" style="text-decoration: none;">
            <div class="card" style="background-color:white;">
                <img class="card-img-top img-responsive" src="../../assets/images/unnamed (4).png" alt="">
                <div class="card-body ">
                    <h4 class="card-title" style="color: orangered;">Plateforme RGPD<br><br></h4>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4">
        <a href="https://moodle.iliadeconsulting.dev/" style="text-decoration: none;">
            <div class="card"style="background-color: #F07317;">
                <img class="card-img-top img-responsive" src="../../assets/images/unnamed (3).png" alt="">
                <div class="card-body ">
                    <h4 class="card-title" style="color: white">Plateform Moodl<br><br></h4>
                </div>
            </div>
        </a>
    </div>
</div>
</div>

<!-- <div class="page-breadcrumb" style="text-align: center">
    <div class="row">
        <div class="col-12">
            <h2 class='f2 mt4 bb-title relative'>
                Plateforme Iliade
            </h2>
        </div>
    </div>
</div>

<div class="row" style="padding: 3%;">
    <div class="col-lg-3 col-md-6">
        <div class="card marg hover-animation">
            <img src="https://cdn.bitrix24.fr/b18524105/landing/39c/39c270ae0491de4619ee48118dbb9687/LOGO_01_2x_1x_1x.png" alt="">
            <div class="card-body">
                <h4 class="card-title">Plateforme Iliade</h4>
                <p class="card-text">Notre accueil</p>
                <a href="https://www.iliadeconsulting.com/" class="btn btn-primary">Accéder</a>
            </div>
        </div>
    </div>


</div> -->


<!-- Card -->

