<app-navbar></app-navbar>
<div style="background-color:#f8f9fa;">
<div class="img-responsive ">
        <img class="site" src="../../assets/images/s.png" style="width: 1950px;" class="img-responsive">
</div>

    <div class="row">
        <div class="col-12">
            <br><br>
            <h1 class='f2 mt4 bb-title relative' style="margin-bottom: 4%;">
                Nos cours
            </h1>
        </div>
    </div>
<!-- <div class="container-fluid" style="margin-top: 50px;">
    <div class="col-12">
        <div class="card">
            <div class="card-body" >
                
                        <div class="col-md-4 mb-3">
                           <img src="../../assets/images/SAB-ISU.png">
                        </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label >Description </label>
                            <textarea type="text" class="form-control"placeholder="Description" required></textarea>
                        </div>
                    </div>
                        <div class="text-right">
                    <button class="btn btn-primary" onclick="window.location.href='/nos-cours'">Accéder</button>
                        </div>
            </div></div></div> -->
            
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-md-4"> <!-- Chaque carte occupe 4 colonnes sur les écrans moyens -->
                <div class="card shadow"> <!-- Added 'shadow' class for box shadow -->
                    <div class="card-body" >
                        <div class="text-center">
                            <img src="../../assets/images/SAB-ISU.png" class="img-responsive">
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3"> <!-- Chaque carte a une largeur de 12 colonnes pour le contenu -->
                                <label>Description</label>
                                <textarea type="text" class="form-control" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button routerLink="/nos-cours" style="background-color:#f07317;border-color: #f07317;" class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal">Accéder</button>
                        </div>
                    </div>
            
                </div>
            </div>
            <div class="col-md-4"> <!-- Chaque carte occupe 4 colonnes sur les écrans moyens -->
                <div class="card shadow"> <!-- Added 'shadow' class for box shadow -->
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/open-cell3.png" class="img-responsive">
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3"> <!-- Chaque carte a une largeur de 12 colonnes pour le contenu -->
                                <label>Description</label>
                                <textarea type="text" class="form-control" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button routerLink="/cours-opencell" style="background-color:#f07317;border-color: #f07317;" class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"> <!-- Chaque carte occupe 4 colonnes sur les écrans moyens -->
                <div class="card shadow"> <!-- Added 'shadow' class for box shadow -->
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/SAP-ABAP.png"class="img-responsive">
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3"> <!-- Chaque carte a une largeur de 12 colonnes pour le contenu -->
                                <label>Description</label>
                                <textarea type="text" class="form-control" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button routerLink="/cours-sababap" style="background-color:#f07317;border-color: #f07317;" class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
                        <!-- <div class="col-12">
                            <div class="card">
                                <div class="card-body" >
                                       
                                            <div class="col-md-4 mb-3">
                                               <img src="../../assets/images/open-cell.png">
                                            </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="validationCustom04">Description</label>
                                                <textarea type="text" class="form-control" id="validationCustom04" placeholder="Description" required></textarea>
                                            </div>
                                        </div>
                                            <div class="text-right">
                                        <button class="btn btn-primary" routerLink="/cours-opencell" type="submit">Accéder</button>
                                            </div>
                                </div></div></div>
<br>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body" >
                                              
                                                    <div class="col-md-4 mb-3">
                                                       <img src="../../assets/images/SAP-ABAP.png">
                                                    </div>
                                                <div class="form-row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="validationCustom04">Description</label>
                                                        <textarea type="text" class="form-control" id="validationCustom04" placeholder="Description" required></textarea>
                                                    </div>
                                                </div>
                                                    <div class="text-right">
                                                <button class="btn btn-primary" routerLink="/cours-sababap"  type="submit">Accéder</button>
                                                    </div>
                                        </div></div> -->

                                        <!-- <iframe src="https://drive.google.com/embeddedfolderview?id=1bPJNSg75v1fwq8wGcCsKqDi71jCofruY#grid" width="700px" height="250px"></iframe>   -->
                                    <!-- <iframe src="https://drive.google.com/embeddedfolderview?id=1YAIH9Lm5llAHaIqTSQq_McLip5Zs7L2r#grid"   ></iframe>    -->
                                       <!-- <script>
                                            document.getElementById('myButton').addEventListener('click', function() {
                                                var iframe = document.createElement('iframe');
                                                iframe.src = ''; // Remplacez l'URL par l'URL de votre iframe
                                                iframe.style.width = '100%';
                                                iframe.style.height = '300px'; // Taille de l'iframe, à adapter selon vos besoins
                                                document.getElementById('iframeContainer').appendChild(iframe);
                                            });
                                            </script> 
 -->






<!-- 
    <app-navbar></app-navbar>
    <div class="img-responsive">
        <img src="../../assets/images/Services (2).png" style="width: 1800px;">
    </div>
        <div class="row">
            <div class="col-12">
                <br><br><br>
                <h1 class='f2 mt4 bb-title relative'>
                    Nos cours
                </h1>
            </div>
        </div>
  
    <div>
        <div class="container-fluid">
            <div class="row ">
                <div class="col-12 ">
                    <div class="col-5 align-self-center" class="spacing" >
                        <h1 class="page-title">SAP-ISU</h1>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-2 col-md-6 card-padding hover-animation ">
                            <div class="card card-margin">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img1.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Nom du cour</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 card-padding hover-animation">
                        
                            <div class="card card-margin">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img2.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-2 col-md-6 card-padding hover-animation">

                            <div class="card card-margin">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img3.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 img-responsive card-padding hover-animation">
                            <div class="card card-margin">
                                <img class=" card-img-top img-responsive" src="../../assets/images/big/img4.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>

                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 card-padding hover-animation ">
                            <div class="card card-margin">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img1.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Nom du cour</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 card-padding hover-animation ">
                            <div class="card card-margin">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img1.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Nom du cour</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row ">
                <div class="col-12 ">
                    <div class="col-5 align-self-center" class="spacing" >
                        <h1 class="page-title">Oprn-cel</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-6 card-padding hover-animation ">
                            <div class="card mx-auto">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img1.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Nom du cour</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 card-padding hover-animation">
                    
                            <div class="card mx-auto">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img2.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-2 col-md-6 card-padding hover-animation">

                            <div class="card mx-auto">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img3.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 img-responsive card-padding hover-animation">
                            <div class="card mx-auto">
                                <img class=" card-img-top img-responsive" src="../../assets/images/big/img4.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>

                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 img-responsive card-padding hover-animation">
                            <div class="card mx-auto">
                                <img class=" card-img-top img-responsive" src="../../assets/images/big/img4.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>

                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> -->
