<div class="container-fluid" style="background-image: url('../../assets/images/background/active-bg.jpg');">
    <div class="row card-container">
        <div class="col-12">
            <div class="title-image" style="display: flex; align-items: center; justify-content: space-between;">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="cours" aria-expanded="false"
                    style="margin-left: 7px; margin-top: 10px;">
                    <i class="ti-loop"></i><span class="hide-menu">Go Back</span>
                </a>
                <button mat-icon-button (click)="retourAccueil()"  style="margin-top: 15px;">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </button>
            </div>
            <div class="title-image" style="display: flex; align-items: center;">
                <img src="../../assets/images/image-removebg-preview (4).png" style="height: 300px;margin-left: 30%; margin-top: -3%;">
                <img src="../../assets/images/file (1).png" style="height: 300px; margin-bottom: 3px;margin-top: -6%;" alt="SAP IS-U">
            </div>
    
          
            <p style="margin-bottom: 2%; margin-top: -4%;">Les supports de formation SAP ISU d'Ilide Consulting sont méticuleusement conçus pour offrir une expérience pédagogique optimale à nos consultants. <br> Leur organisation soignée vise à faciliter le déroulement de la formation, garantissant ainsi une assimilation efficace des connaissances spécialisées nécessaires.</p>
        </div>
        <div class="container" id="main-container">
            <div class="row" style="margin-top: 10px;">
                <div *ngFor="let cour of cour" class="col-lg-4 col-md-6 mb-4 card-padding hover-animation">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{cour?.titre}}</h4>
                            <p class="card-text">{{cour?.description}}</p>
                            <a class="btn btn-primary mt-auto" href="{{cour?.iframelink}}">Accéder au cours</a>
                        </div>
                        <div class="card-body">
                            <div class="float-right btn-group btn-group-sm">
                                <a   *ngIf="userRole === 'MANAGER'" (click)="onOpenModal(cour, 'edit')" class="btn btn-primary tooltips" id="button"
                                    data-placement="top" data-original-title="Edit"><i class="fas fa-pencil-alt"></i> </a>
                                <a  *ngIf="userRole === 'MANAGER'" (click)="onOpenModal(cour, 'delete')" id="button" class="btn btn-secondary tooltips"
                                    data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="modal-footer">
                    <button class="modal-footer"  *ngIf="userRole === 'MANAGER'"  class="btn btn-primary" id="button" data-toggle="modal" data-target="addCourModal"
                        (click)="onOpenModal(null!,'add')">Ajouter un cours</button>
                </div><br>
            </div>
            <!-- Add cour Modal -->
            <div id="addCourModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addCourModalLabel"
                aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Bonjour</h4>
                        </div>
                        <div class="modal-body">
                            <form #addForm="ngForm" (ngSubmit)="onAddCour(addForm)">
                                <div class="form-group">
                                    <label for="name">Titre</label>
                                    <input type="text" ngModel name="titre" class="form-control" id="name" placeholder="Titre" required>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" ngModel name="description" class="form-control" id="description" placeholder="Description du cours" required>
                                </div>

                                <div class="form-group">
                                    <label for="iframeLink">Link</label>
                                    <input type="text" ngModel name="iframelink" class="form-control" id="iframeLink" placeholder="Donner le lien du cours" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="add-cour-form" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save
                                        changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Modal -->
        <div class="modal fade" id="updateCourModal" tabindex="-1" role="dialog" aria-labelledby="courEditModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateCourModalLabel">Edit Cour {{editCour?.titre}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #editForm="ngForm">
                            <div class="form-group">
                                <label for="name"></label>        
                 <input type="text" ngModel="{{editCour?.titre}}" name="titre" class="form-control" id="titre" aria-describedby="emailHelp" placeholder="Titre">
              </div>
              <input type="hidden" ngModel="{{editCour?.id}}" name="id"  class="form-control" id="id" placeholder="Email">
              <div class="form-group">
                 <label for="description">Description</label>
                 <input type="description" ngModel="{{editCour?.description}}" name="description" class="form-control" id="description" placeholder="Description">
              </div>
              <div class="form-group">
                 <label for="phone">iframelink</label>
                 <input type="text" ngModel="{{editCour?.iframelink}}" name="iframelink" class="form-control" id="iframelink" placeholder="Lien de cour" >
              </div>
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateCour( editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Delete Modal -->
<div class="modal fade " id="deleteCourModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Cour</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete cour {{deleteCour?.titre}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteCour(deleteCour?.id!)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  </div>


 
