<app-navbar></app-navbar>
<div class="img-responsive">
    <img src="../../assets/images/Services (2).png" style="width: 1800px;" class="img-responsive">
</div>
<div class="row">
    <div class="col-12">
        <br><br>
        <h1 class='f2 mt4 bb-title relative' style="margin-left: 40%;">
            Nos Comptes-rendus
        </h1>
    </div>
</div>
<div class="container-fluid" style="margin-top: 50px;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-4 mb-3">
                    <img src="../../assets/images/SAB-ISU.png">
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label>Description </label>
                        <textarea type="text" class="form-control" placeholder="Description" required></textarea>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" routerLink="/compte-rendu-sap-isu" type="submit">Accéder</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-4 mb-3">
                    <img src="../../assets/images/open-cell.png">
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom04">Description</label>
                        <textarea type="text" class="form-control" id="validationCustom04" placeholder="Description"
                            required></textarea>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" routerLink="/cours-opencell" type="submit">Accéder</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-4 mb-3">
                    <img src="../../assets/images/SAP-ABAP.png">
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom04">Description</label>
                        <textarea type="text" class="form-control" id="validationCustom04" placeholder="Description"
                            required></textarea>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" routerLink="/cours-sababap" type="submit">Accéder</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 
    <app-navbar></app-navbar>
    <div class="img-responsive">
        <img src="../../assets/images/Services (2).png" style="width: 1800px;">
    </div>
        <div class="row">
            <div class="col-12">
                <br><br><br>
                <h1 class='f2 mt4 bb-title relative'>
                    Nos cours
                </h1>
            </div>
        </div>
  
    <div>
        <div class="container-fluid">
            <div class="row ">
                <div class="col-12 ">
                    <div class="col-5 align-self-center" class="spacing" >
                        <h1 class="page-title">SAP-ISU</h1>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-2 col-md-6 card-padding hover-animation ">
                            <div class="card card-margin">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img1.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Nom du cour</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 card-padding hover-animation">
                        
                            <div class="card card-margin">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img2.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-2 col-md-6 card-padding hover-animation">

                            <div class="card card-margin">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img3.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 img-responsive card-padding hover-animation">
                            <div class="card card-margin">
                                <img class=" card-img-top img-responsive" src="../../assets/images/big/img4.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>

                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 card-padding hover-animation ">
                            <div class="card card-margin">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img1.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Nom du cour</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 card-padding hover-animation ">
                            <div class="card card-margin">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img1.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Nom du cour</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row ">
                <div class="col-12 ">
                    <div class="col-5 align-self-center" class="spacing" >
                        <h1 class="page-title">Oprn-cel</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-6 card-padding hover-animation ">
                            <div class="card mx-auto">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img1.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Nom du cour</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 card-padding hover-animation">
                    
                            <div class="card mx-auto">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img2.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-2 col-md-6 card-padding hover-animation">

                            <div class="card mx-auto">
                                <img class="card-img-top img-responsive" src="../../assets/images/big/img3.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 img-responsive card-padding hover-animation">
                            <div class="card mx-auto">
                                <img class=" card-img-top img-responsive" src="../../assets/images/big/img4.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>

                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 img-responsive card-padding hover-animation">
                            <div class="card mx-auto">
                                <img class=" card-img-top img-responsive" src="../../assets/images/big/img4.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>

                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                    <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> -->