

<div class="container1 " id="aboutUsSection">
    <div class="col-md-5 ">
    </div>
    <div class="col-md-12 d" >
        <h1 style="margin-left: 40px;margin-top: 30px;">A propos de nous</h1>
        <p class="display-6" style="margin-left: 15%;margin-top: 20px;" >+20 ANS D'EXPERTISE DANS L'ENERGIE</p>
        <p class="font-20"style="margin-left: 20%">DEPUIS 2004...</p>
        <p style="margin-left: 20%">Création d’Iliade Consulting par trois amis, un cabinet de conseil spécialiste de SAP dans le secteur Utilities.</p>

        <p class="font-20"style="margin-left: 20%">... EN 2015...</p>
        <p style="margin-left: 20%">Intégration au groupe NEURONES. Les compétences IT & consulting des 6500 collaborateurs de <br>NEURONES,
            nous permettent de :</p>
          <li style="margin-left: 20%">Offrir un service complet notamment sur SAP, l'hébergement, la cybersécurité et la transformation<br> digitale & organisationnelle.</li>
          <li style="margin-left: 20%">Intervenir dans d'autres secteurs tels que la banque et le transport.</li>
          <br>
          <p class="font-20" style="margin-left: 20%">... ET DEPUIS 2020 </p>
          <li style="margin-left: 20%">Création et lancement de la marque Odyssée - l’offre AMOA agile d’Iliade Consulting. </li>
    </div>
</div>
