<div style="background-color:#f1f2f3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);border-radius: 20px;">
<div class="page-breadcrumb" style="text-align: center">
    <div class="row">
        <div class="col-12">
            <br><br>
            <h1 class='f2 mt4 bb-title relative' style="color: black;">
                Managers
            </h1>
        </div>
    </div>
</div>
<br>

<!-- <div class="row ">
    <div class="col-lg-6 hover-animation">
        <img src="../../../assets/images/managers/Cover (2).png">
    </div>
    <div class="col-lg-6 hover-animation marg">
        <img src="../../../assets/images/managers/Cover.png">
    </div>
</div> -->

<div class="card-container">
    <div class="card hover-animation" style="margin: 3%;"  >
        <div style="width:auto; height:auto">
        <img src="../../../assets/images/managers/Raouf Belkhodja.jpg " class="card-image"   alt="Team Communication Image">
       </div> 
       <div class="card-content" style="text-align: center;">
            <h2>Raouef BELKHOUDJA</h2>
            <p>Associé <br> Directeur Iliade Tunisie</p>            <!-- <a style="background-color: rgb(47, 47, 104);" href="#" class="btn">Discover</a> -->

        </div>
    </div>
    <div class="card hover-animation" style="margin: 3%;">
        <img src="../../../assets/images/managers/Haythem SLIMI.jpg" alt="Team Communication Image">
        <div class="card-content" style="text-align: center;">
            <h2>Haythem SLIMI</h2>
            <p>Associé <br> Cogérant Iliade Tunisie</p>


            <!-- <a style="background-color: rgb(47, 47, 104);" href="#" class="btn">Discover</a> -->
        </div>
    </div>
</div>
</div>