<!-- <div style="background-color:#f8f9fa;height: 100%;"> -->
<div class="page-breadcrumb" style="text-align: center; ">
    <div class="row">
        <div class="col-12">
            <h1 class='f2 mt4 bb-title relative 'style="margin-top:8%">
                NOS TECHNOLOGIES
            </h1>
            <p style="margin-top: 10px;">Découvrez nos technologies de pointe, sélectionnées pour leur excellence et leur fiabilité. <br>Avec notre palette technologique innovante, nous vous accompagnons vers vos objectifs avec assurance et efficacité.</p>
        </div>
    </div>
</div>
<br><br>

  <!-- <div class="slider-area">
    <div class="wrapper container " style="width: 100px;">
      <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/sap_1x.png"></div>
      <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/tricentis_1x.png"></div>
      <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/salesforce_1x.png"></div> -->
      <!-- <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/UiPath_Robots_Logo_Video_Spotlight_2x.png"></div> -->
      <!-- <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/JAVA_1x.png"></div>
      <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/xx_1x.png"></div>
      <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/fiori_1x.png"></div>
      <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/bluprism_logo_1x.png"></div>
      <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/Opencell_1x.png"></div> 
       <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/sap_1x.png"></div>
       <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/tricentis_1x.png"></div>
       <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/salesforce_1x.png"></div> -->
       <!-- <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/UiPath_Robots_Logo_Video_Spotlight_2x.png"></div> -->
       <!-- <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/JAVA_1x.png"></div>
       <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/xx_1x.png"></div>
       <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/fiori_1x.png"></div>
       <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/bluprism_logo_1x.png"></div>
       <div class="item content"><img alt="" src="../../../assets/images/logos-technologies/Opencell_1x.png"></div> 
  
    </div>
    <br>
  </div> -->
 


  <div class="carousel-container" style="margin-top: auto;">
  <div class="logos">
    <div class="logos-slide">
      <img src="https://cdn.bitrix24.fr/b18524105/landing/920/920376d62beea9aef71a267645df0e82/bluprism_logo_1x.png" />
      <img src="https://cdn.bitrix24.fr/b18524105/landing/8af/8af9146f58d09827900e18c8474e1047/tricentis_1x.png" />
      <img src="https://cdn.bitrix24.fr/b18524105/landing/d11/d111b039ff7dfcf7431273b01829923d/JAVA_1x.png" />
      <img src="../../../assets/images/logos-technologies/sap_1x.png" />
  
      <img src="https://cdn.bitrix24.fr/b18524105/landing/c8a/c8aae8b39f02e8127ac48517b2f638f2/fiori_1x.png" />
      <img src="../../../assets/images/logos-technologies/tricentis_1x.png"/>
      <img src="https://cdn.bitrix24.fr/b18524105/landing/dce/dce28f32dd946ca3d63844bc175a585f/salesforce_1x.png" />
      <img src="../../../assets/images/logos-technologies/Opencell_1x.png">
      <img src="../../../assets/images/logos-technologies/JAVA_1x.png">
      <img src="../../../assets/images/logos-technologies/UiPath_Robots_Logo_Video_Spotlight_2x.png " />
      <img src="https://cdn.bitrix24.fr/b18524105/landing/920/920376d62beea9aef71a267645df0e82/bluprism_logo_1x.png" />
      <img src="https://cdn.bitrix24.fr/b18524105/landing/8af/8af9146f58d09827900e18c8474e1047/tricentis_1x.png" />
      <img src="https://cdn.bitrix24.fr/b18524105/landing/d11/d111b039ff7dfcf7431273b01829923d/JAVA_1x.png" />
      <img src="../../../assets/images/logos-technologies/sap_1x.png" />
  
      <img src="https://cdn.bitrix24.fr/b18524105/landing/c8a/c8aae8b39f02e8127ac48517b2f638f2/fiori_1x.png" />
      <img src="../../../assets/images/logos-technologies/tricentis_1x.png"/>
      <img src="https://cdn.bitrix24.fr/b18524105/landing/dce/dce28f32dd946ca3d63844bc175a585f/salesforce_1x.png" />
      <img src="../../../assets/images/logos-technologies/Opencell_1x.png">
      <img src="../../../assets/images/logos-technologies/JAVA_1x.png">
      <img src="../../../assets/images/logos-technologies/UiPath_Robots_Logo_Video_Spotlight_2x.png " />
   
    </div>


  </div>







<!--   

  <div class="card" style="background-color: orangered;">
    <div class="card-image">
      <img src="../../../assets/images/logos-technologies/Opencell_1x.png" alt="Votre Image">
    </div>
    <div class="card-text">
      <p>Votre texte ici.</p>
    </div>
  </div>
   -->