<app-navbar></app-navbar>
<div style="background-color:#f8f9fa;">
<div class="img-responsive">
    <img src="../../assets/images/s.png" style="width: 1800px;" class="img-responsive">
</div>
    <br><br>

    <div class="row" >
        <div class="col-12">
            <br><br>
            <h1 class="f2 mt4 bb-title " style="text-align: center;">
                UiPath
            </h1>
        </div>
    </div>

    <br><br><br>

    <div class="container" >
        <div class="row ">
            <div class="col-md-4"> <!-- Chaque carte occupe 4 colonnes sur les écrans moyens -->
                <div class="card shadow"> <!-- Added 'shadow' class for box shadow -->
                    <div class="card-body" >
                        <div class="text-center">
                            <img src="../../assets/images/projet/ikea.png" style="height: 150px;" class="img-responsive">
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3"> <!-- Chaque carte a une largeur de 12 colonnes pour le contenu -->
                                <label>Description</label>
                                <textarea type="text" class="form-control" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button  style="background-color:#f07317;border-color: #f07317;" class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
           
            <!-- <div class="col-md-4"> 
                <div class="card shadow"> 
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/projet/endessa.png" style="height: 150px;" class="img-responsive">
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3"> 
                                <label>Description</label>
                                <textarea type="text" class="form-control" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button routerLink="/total-energie" style="background-color:#f07317;border-color: #f07317;" class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"> 
                <div class="card shadow"> 
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/projet/ikea.png" style="height: 150px;" class="img-responsive">
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3"> 
                                <label>Description</label>
                                <textarea type="text" class="form-control" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button routerLink="/total-energie" style="background-color:#f07317;border-color: #f07317;" class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal">Accéder</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   -->