
<div class="container-fluid">
    <div class="row ">
        <div class="col-12 ">
                <h1 class='f2 mt4 bb-title relative' style="margin-top: 18px;">
                    SAP-ABAP
                </h1>
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col-lg-2 col-md-6 card-padding hover-animation ">
                    <div class="card card-margin">
                        <img class="card-img-top img-responsive" src="../../assets/images/big/img1.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Nom du cour</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the
                                bulk of the card's content.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 card-padding hover-animation">
                
                    <div class="card card-margin">
                        <img class="card-img-top img-responsive" src="../../assets/images/big/img2.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the
                                bulk of the card's content.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-2 col-md-6 card-padding hover-animation">

                    <div class="card card-margin">
                        <img class="card-img-top img-responsive" src="../../assets/images/big/img3.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the
                                bulk of the card's content.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 img-responsive card-padding hover-animation">
                    <div class="card card-margin">
                        <img class=" card-img-top img-responsive" src="../../assets/images/big/img4.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>

                            <p class="card-text">Some quick example text to build on the card title and make up
                                the
                                bulk of the card's content.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 card-padding hover-animation ">
                    <div class="card card-margin">
                        <img class="card-img-top img-responsive" src="../../assets/images/big/img1.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Nom du cour</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the
                                bulk of the card's content.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 card-padding hover-animation ">
                    <div class="card card-margin">
                        <img class="card-img-top img-responsive" src="../../assets/images/big/img1.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Nom du cour</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the
                                bulk of the card's content.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
          

                <div class="col-lg-2 col-md-6 card-padding hover-animation ">
                    <div class="card mx-auto">
                        <img class="card-img-top img-responsive" src="../../assets/images/big/img1.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Nom du cour</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the
                                bulk of the card's content.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 card-padding hover-animation">
            
                    <div class="card mx-auto">
                        <img class="card-img-top img-responsive" src="../../assets/images/big/img2.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the
                                bulk of the card's content.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-2 col-md-6 card-padding hover-animation">

                    <div class="card mx-auto">
                        <img class="card-img-top img-responsive" src="../../assets/images/big/img3.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the
                                bulk of the card's content.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 img-responsive card-padding hover-animation">
                    <div class="card mx-auto">
                        <img class=" card-img-top img-responsive" src="../../assets/images/big/img4.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>

                            <p class="card-text">Some quick example text to build on the card title and make up
                                the
                                bulk of the card's content.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 img-responsive card-padding hover-animation">
                    <div class="card mx-auto">
                        <img class=" card-img-top img-responsive" src="../../assets/images/big/img4.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>

                            <p class="card-text">Some quick example text to build on the card title and make up
                                the
                                bulk of the card's content.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                            
                        </div>
                        
                    </div>
                    
                </div>
                <div class="col-lg-2 col-md-6 img-responsive card-padding hover-animation">
                    <div class="card mx-auto">
                        <img class=" card-img-top img-responsive" src="../../assets/images/big/img4.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>

                            <p class="card-text">Some quick example text to build on the card title and make up
                                the
                                bulk of the card's content.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                            
                        </div>
                        
                    </div>
                    
                </div>
                <div class="text-right" >
                    <button class="btn btn-primary" routerLink="/cours" type="submit">Retour</button>
                        </div>
                        <br><br>
                    </div>
                
                </div>
            </div>
         