

<div class="container-fluid" style="background-image: url('../../assets/images/support\ de\ formation.png');   background-size: cover;   background-repeat: no-repeat;">
    <div class="row" >
        <div class="col-md-6">
            <div class="card" style="margin-top: 30px;">
                <div class="card-body">
                    <a href="https://helios.direct-energie.com/helios/#/welcome/pdls/50072593036814/details/contrat?c_sel=10858455&s_sel=34821438">Helios</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-6">
            <div class="card" style="margin-top: 30px;">
                <div class="card-body">
                    <a href="https://drive.google.com/drive/u/0/folders/13N5WLg-7etVGWArYsLpfX8cL-R8c597C">SAP</a>
                </div>
            </div>
        </div>
    </div>
</div>